.container {
    padding: 0 44px;
    margin: 0 auto;
    max-width: 1300px;

    @media (max-width: 768px) {
      padding: 0 22px;
    }
}

.submit-btn {
  background-color: var(--primary);
  color: white;
  border-radius: 12px;
  padding: 12px 25px;
}

.section-title {
  font-size: 32px;
  font-weight: 600;
  color: var(--main);
  text-transform: uppercase;
  // text-align: center;
}

.form-input {
  border: 1px solid #E0E3EB !important;
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  height: 50px;
  width: 100%;
}

.custom-btn,
.success-btn,
.cancel-btn,
.new-btn {
  background-color: var(--primary);
  color: white;
  text-transform: none;
  border-radius: 8px;
  height: 40px;
  padding: 0 20px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
  @include center-center;
  position: relative;

  &.form {
    height: 52px;
  }

  .MuiCircularProgress-root {
    margin-right: 16px;

    svg {
      color: white;
    }
  }

  &.disabled {
    background-color: var(--gray20);
    color: var(--black);
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove default styling in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Optionally: Remove appearance in Safari to make it consistent */
input[type="number"] {
  -webkit-appearance: none;
}

button {
  margin: 0;
}