.container {
    padding: 0 22px;
    margin: 0 auto;
    max-width: 1302px;
}

.submit-btn {
  background-color: var(--primary);
  color: white;
  border-radius: 4px;
  padding: 10px 35px;
}

.section-title {
  font-size: 32px;
  font-weight: 600;
  color: var(--main);
  text-align: center;
}

.custom-btn,
.success-btn,
.cancel-btn,
.new-btn {
  background-color: var(--primary);
  color: white;
  text-transform: none;
  border-radius: 8px;
  height: 40px;
  padding: 0 20px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
  @include center-center;
  position: relative;

  &.form {
    height: 52px;
  }

  .MuiCircularProgress-root {
    margin-right: 16px;

    svg {
      color: white;
    }
  }

  &.disabled {
    background-color: var(--gray20);
    color: var(--black);
  }
}